<div style="text-align: center;">
    <div class="pragmatic_header_logo">
        <h1>Pragmatics</h1>
    </div>
    <div class="pragmatic_header_button">
        <span>nav1</span>
        <span>nav2</span>


        {% if not user.is_authenticated  %} {# 장고에서 언제든 user 객체를 불러올 수 있다#}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign Up
            </a>
        </span>
        {% else %}
            <span>
                <a href="{% url 'accountapp:detail' pk=user.pk %}">
                    MyPage
                </a>
            </span>
            <span>
                <a href="{% url 'accountapp:logout' %}">
                    Logout
                </a>
            </span>
        {% endif %}


    </div>
</div>